*.iml
*.ipr
*.iws
*.orig
*.rej
**/.keep
*.sdf
*.suo
*.vcxproj.user
.idea
.svn
.classpath
.project
.settings
target
dl4jPerformance.csv
build
*.jpg
*.t7
target/deeplearning4j-examples-0.4-rc0-SNAPSHOT-bin.jar