*.iml
*.ipr
*.iws
*.orig
*.rej
**/.keep
*.sdf
*.suo
*.vcxproj.user
.idea
.svn
.classpath
.project
.settings
target
build
*.jpg
*.t7
run_time.txt
run_time.csv
TorchPerform.csv
target/deeplearning4j-examples-0.4-rc0-SNAPSHOT-bin.jar